body {
  background: #add9e4;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
  background-color: #f7fbfc; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

/*
a:link, a:visited {
    text-decoration: none;
    color: #3b73af;
}
a:hover, a:active {
    text-decoration: underline;
}
*/
a {
  color: #3b759e;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

a:hover {
  color: #74a7cb;
  text-shadow: none;
  border: none; }

.console-output {
    padding: 1em;
    background-color: black;
    color: white;
}

.console-output a:link {
    color: #b088ff;
}

.console-output a:visited {
    color: #8888ff;
}


