body {
  background: #f7f2d3;
  background: -moz-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #f7f2d3));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background-color: #f7f3de; }

html * {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: "League Gothic", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

/*
a:link, a:visited {
    text-decoration: none;
    color: #3b73af;
}
a:hover, a:active {
    text-decoration: underline;
}
*/
a:link, a:visited {
  color: #8b743d;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

a:hover, a:active {
  color: #c0a86e;
  text-shadow: none;
  border: none; }

.console-output {
    padding: 1em;
    background-color: black;
    color: white;
}

.console-output a:link {
    color: #b088ff;
}

.console-output a:visited {
    color: #8888ff;
}

